.container {
    color: rgb(20, 7, 10);
    display: flex;
    background-color: DodgerBlue;
    font-size: 15px;
    flex-direction: column;
    align-items: center;
  }

  .box {
    font-size: 18px;
    font-family: 'Calibri';
    text-align: left;
  }

  




  
 